<div class="leaderboard-title">
  <h1>Top 100</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 leaderboard-table">
    <table id="top100">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Amount Visited</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @links.each do |link| %>
          <% shortened_url = "https://mini-u.herokuapp.com/#{link.short_url}" %>
          
          <tr>
            <td><%= link.full_url %></td>
            <td><%= link_to shortened_url, shortened_url, target: "blank" %></td>
            <td><%= link.clicks %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
</div>