<% shortened_url = "https://mini-u.herokuapp.com/#{@link.short_url}" %>

<div class="shorty">
  <h2>Here's your shorty url: <%= link_to shortened_url, shortened_url, target: "blank" %> </h2>
</div>

<div class="back-btn">
  <%= link_to "Go Back", links_path, class: 'btn btn-success' %>
</div>