.jumbotron {
    background-color: #f6ece5; /* Cream */
    color: #D67C73;
    height: 440px;
    text-align: center;
}

.leaderboard-title {
  text-align: center;
  color: #424642;
  margin-top: 60px;
}

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: #58CC63;
    .notice, .alert {
      padding: 2.5rem 0;
      text-align: center;
      margin: 0;
      font-size: 1.25rem;
      color: #FFFFFF;
      letter-spacing: 1px;
    }
}

.shorty{
  margin: 80px;
  text-align: center;
}

img {
  height: 180px;
  margin-top: 34px;
}

.header-title {
  margin-bottom: -40px;
  margin-top: 50px;
  color: #424642;
}

.search {
  text-align: center;
  margin-top: -100px;
}

.back-btn {
  text-align: center;
}

.bg-4 { 
  background-image: image-url('succulents.png');
  height: 58px;
  color: black;
  opacity: 0.6;
  font-weight: 900;
}

.container {
  padding-bottom: 60px;
}

table {
  border-collapse: collapse;
  border: 1px solid #cdcdcd;
  font: normal 13px arial; 
  width: 85%;
  // margin-left: 8%;
  margin-bottom: 20px;
  padding: 10px;
}

@media only screen and (max-width: 1230px),
(min-device-width: 554px) and (max-device-width: 1098px)  {

  table, thead, tbody, th, td, tr { 
          display: block; 
  }
  
  thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
  }
  
  tr { border-bottom: 1px solid #ccc; }

  td { 
       border: none;
       border-bottom: 1px solid #eee; 
       position: relative;
       padding-left: 50%; 
  }

  td:before { 
    top: 3px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before { 
    content: "Rank:"; 
  }

  td:nth-of-type(2):before { 
    content: "Full URL:"; 
  }

  td:nth-of-type(3):before { 
    content: "Short URL:"; 
  }

  td:nth-of-type(4):before { 
    content: "Amount Visited:"; 
  }
    
}