.jumbotron {
    background-color: #f6ece5; /* Cream */
    color: #D67C73;
    height: 440px;
    text-align: center;
}

.leaderboard-title {
  text-align: center;
  color: #424642;
  margin-top: 60px;
}

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: #58CC63;
    .notice, .alert {
      padding: 2.5rem 0;
      text-align: center;
      margin: 0;
      font-size: 1.25rem;
      color: #FFFFFF;
      letter-spacing: 1px;
    }
}

.shorty{
  margin-top: -120px;
  text-align: center
}

img {
  height: 180px;
  margin-top: 34px;
}

.header-title {
  margin-bottom: -40px;
  margin-top: 50px;
  color: #424642;
}

.search {
  text-align: center;
  margin-top: -100px;
}

.back-btn {
  text-align: center;
}