<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mini URL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron">
  <%= image_tag("shorty.png") %>
  <style>
  .jumbotron { 
      background-color: #efe15b;  /*Cream*/ 
      color: #D67C73;
      height: 460px;
  }
  </style>
  <div class="header-title">
    <h2>Shorty shrinks links</h2> 
  </div>
  <br>
  <br>
  <br>
  
</div>
<%= yield %>
<footer class="container-fluid bg-4 text-center">
  <p>&copy; 2017 Developed by <a href="https://medium.com/@laniberry">Lani Berry</a></i></a></p> 
</footer>
</body>
</html>